<div
  class="min-vh-100 d-flex align-items-center justify-content-center bg-light">
  <div class="card shadow-sm p-4" style="width: 360px">
    <h3 class="text-center mb-4">Login</h3>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          formControlName="username"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
        /><!--It show the text box error-->
      </div>

      <div
        *ngIf="(f['username'].touched || submitted) && f['username'].errors"
        class="text-danger small mt-1"
      >
        Username is required
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">password</label>
        <input
          formControlName="password"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
        />

        <div
          *ngIf="(f['password'].touched || submitted) && f['password'].errors"
          class="text-danger small mt-1"
        >
          Password is required
        </div>
      </div>
      <button type="submit" class="btn btn-primary w-100">Login</button>
       <button type="submit" class="btn btn-primary w-100">Reset</button>
    </form>
  </div>
</div>
