.background-container{
    width: 100%;
    height: 100vh;
    background-image: url('/assets/puppy1.jpg');

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

